<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div>
    <button>Bảng điều khiển</button>
    <button>Sản phẩm</button>
    <button>Kho hàng</button>
    <button>Khách hàng</button>
    <button>Hóa đơn</button>
    <button>Báo cáo</button>
    <button>Nhà cung cấp</button>
    <button>Chatbot hỗ trợ</button>
    <button>Cài đặt</button>
    <button>Đăng xuất</button>
</div>
    <div>
        <table>

        </table>
    </div>
</body>
</html>